body {
    background-color: rgb(232, 133, 80);
    color: white;
}

h1{
    color: rgb(240, 218, 129);
}
 a {
            color: rgb(240, 154, 56);
        }
.media-center {
    text-align: center;
}

.bordered {
    border: 3px solid #333;
    border-radius: 8px;
    margin: 10px 0;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}