body {
    background-color: rgb(232, 133, 80);
    color: white;
    font-family: 'Menlo', monospace;
}

h1{
    color: rgb(240, 218, 129);
}
 a {
            color: rgb(240, 154, 56);
        }
.media-center {
    text-align: center;
}

.bordered {
    border: 3px solid #333;
    border-radius: 8px;
    margin: 10px 0;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}
a img {
  transition: transform 0.3s, opacity 0.3s;
    width: 300px; 
    border: 3px solid #333; 
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}
a img:hover {
  transform: scale(0.9);
  opacity: 0.8;
  cursor: pointer;
}